.progress {
    border-color: #edbb21;
    border-right-color: transparent;
}
.cover::after {
    visibility: hidden;
}
.head {
    background: url("../pictures/cover.png") #fff;
}
.head h2 {
    margin:30px 0 0;
    color:#000;
    text-align:center;
    font-size:70px;
}
h3 {
    margin-bottom: 20px;
    color: #585a5e;
    font: 700 35px/1 PT Sans Narrow,sans-serif;
}
.cover-swagger-logo {
    margin: 20px 45%;
    width: 130px;
    height: 130px;
}
.head p {
    color: #000;
    right: 100px;
    position: absolute;
    font-size: 24px;
    bottom: 115px;
    text-align: right;
    font-style: italic;
}
.cover-ideco-logo {
    position: absolute;
    right: 148px;
    bottom: 100px;
    width: 120px;
}

.api-blackbox {
    position: absolute;
    height: 580px;
    left: 230px;
    bottom: 30px;
}

.rest {
    width: 100%;
}

.method {
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 700;
}
.method-post {
    background: #10a54a;
    margin: 0 0 0 8px;
}
.method-get {
    background: #0f6ab4;
    color: #fff;
    margin: 0 0 0 23px;
}
.method-put {
    background: #c5862b;
}
.method-patch {
    background: #d38042;
}
.method-delete {
    background: #a41e22;
    color: #fff;
    margin: 0 0 0 5px;
}
.li-patch {
    padding: 0 0 0 82px;
}
.slide ul>li.li-patch::before {
    content: '';
}

.services .services {
    position: absolute;
    left: -60px;
    top: 0px;
}

.slide h2.title-services {
    font-size: 48px;
}

.services .swagger {
    position: absolute;
    top: 370px;
    left: 455px;
    width: 130px;
}
.services .apiary {
    position: absolute;
    top: 300px;
    left: 540px;
    height: 80px;
}
.services .apiblueprint {
    position: absolute;
    top: 190px;
    left: 650px;
    height: 90px;
}
.services .raml {
    position: absolute;
    top: 213px;
    left: 130px;
    height: 60px;
}
.services .apidoc {
    position: absolute;
    top: 410px;
    left: 320px;
    height: 110px;
}
.services .apigee {
    position: absolute;
    top: 200px;
    left: 390px;
    height: 100px;
}
.services .apigen {
    position: absolute;
    top: 320px;
    left: 200px;
    height: 70px;
}
.services .apimatic {
    position: absolute;
    top: 422px;
    left: 130px;
    height: 110px;
}
.services .mashape {
    position: absolute;
    top: 540px;
    left: 520px;
    height: 100px;
}
.services .mrdoc {
    position: absolute;
    top: 530px;
    left: 250px;
    height: 210px;
}
.services .phpdocumenter {
    position: absolute;
    top: 320px;
    left: 850px;
    height: 180px;
}
.services .turnapi {
    position: absolute;
    top: 420px;
    left: 580px;
    height: 90px;
}
.vendors-blueprint .apiary {
    position: absolute;
    left: 100px;
    top: 210px;
    height: 70px;
}
.vendors-raml .akana {
    position: absolute;
    left: 600px;
    top: 555px;
    height: 40px;
}
.vendors-raml .amazone {
    position: absolute;
    left: 370px;
    top: 540px;
    height: 70px;
}
.vendors-raml .apifortress {
    position: absolute;
    left: 70px;
    top: 540px;
    height: 70px;
}
.vendors-raml .apimatic {
    position: absolute;
    left: 740px;
    top: 440px;
    height: 50px;
}
.vendors-raml .apimetrics {
    position: absolute;
    left: 520px;
    top: 440px;
    height: 50px;
}
.vendors-raml .apiscience {
    position: absolute;
    left: 310px;
    top: 440px;
    height: 50px;
}
.vendors-raml .catechnologies {
    position: absolute;
    left: 70px;
    top: 440px;
    height: 50px;
}
.vendors-raml .gelato {
    position: absolute;
    left: 760px;
    top: 325px;
    height: 60px;
}
.vendors-raml .mulesoft {
    position: absolute;
    left: 530px;
    top: 325px;
    height: 60px;
}
.vendors-raml .oracle {
    position: absolute;
    left: 305px;
    top: 320px;
    height: 50px;
}
.vendors-raml .parasoft {
    position: absolute;
    left: 780px;
    top: 245px;
    height: 30px;
}
.vendors-raml .postman {
    position: absolute;
    left: 70px;
    top: 320px;
    height: 70px;
}
.vendors-raml .restlet {
    position: absolute;
    left: 530px;
    top: 223px;
    height: 60px;
}
.vendors-raml .restunited {
    position: absolute;
    left: 360px;
    top: 230px;
    height: 50px;
}
.vendors-raml .softwareag {
    position: absolute;
    left: 70px;
    top: 230px;
    height: 40px;
}
.openAPI {
    position: absolute;
    left: 460px;
    top: 100px;
    height: 70px;
}
.vendors-swagger__container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    position: relative;
    right: 50px;
}
.vendors-swagger .redhat {
    height: 95px;
}
.vendors-swagger .adobe {
    height: 75px;
}
.vendors-swagger .evangelist {
    height: 23px;
}
.vendors-swagger .apiary {
    height: 95px;
}
.vendors-swagger .atlassian {
    height: 105px;
}
.vendors-swagger .ca {
    height: 75px;
}
.vendors-swagger .capital {
    height: 105px;
}
.vendors-swagger .cloud {
    height: 110px;
}
.vendors-swagger .google {
    height: 90px;
}
.vendors-swagger .heart {
    height: 60px;
}
.vendors-swagger .ibm {
    height: 80px;
}
.vendors-swagger .isa {
    height: 90px;
}
.vendors-swagger .mashape {
    height: 130px;
}
.vendors-swagger .microsoft {
    height: 130px;
}
.vendors-swagger .paypal {
    height: 70px;
}
.vendors-swagger .restlet {
    height: 90px;
}
.vendors-swagger .artik {
    height: 130px;
}
.vendors-swagger .smartbear {
    height: 130px;
}
.vendors-swagger .tykio {
    height: 110px;
}

.shout.openapi {
    width: 70%;
    position: absolute;
    left: 15%;
}

.oscar {
    width: 100%;
}

.shout.award {
    width: 70%;
    position: absolute;
    left: 15%;
}

.center {
    text-align: center!important;
}

.label {
    padding: 0 5px;
    border-radius: 5px;
}

.green-label {
    background: #9ac526;
}

.pupure-label {
    background: #2C1B56;
    color: #fff;
}

.realaze {
    position: absolute;
    left: 215px;
}
.specification {
    position: absolute;
    right: 250px;
}
.top-down {
    position: absolute;
    left: 90px;
    top: 300px;
    height: 500px;
}

.languages {
    padding: 0 10px;
}

.swag {
    position: absolute;
    left: 65px;
    top: 180px;
    height: 540px;
}
.swagger-full {
    background: #87be40;
}
.slide .swagger-hi {
    width: 60%;
    position: absolute;
    left: 20%;
}
.swagger-ui2 {
    position: absolute;
    left: 80px;
    top: 170px;
    height: 440px;
}
.swagger-ui2-h {
    position: absolute;
    top: 106px;
    left: 310px;
}
.swagger-ui3-h {
    position: absolute;
    top: 106px;
    left: 425px;
}
.swagger-ui3 {
    position: absolute;
    left: 80px;
    top: 170px;
    height: 590px;
}
.top-down-release {
    display: block;
    width: 370px;
    margin: 0 auto;
}
.realaze-top-down,
.specification-top-down{
    font-size: 35px;
    text-align: center;
}

.api {
    top: 60px;
    position: relative;
    height: 330px;
}

.folder {
    height: 50px;
    position: relative;
    top: 15px;
}

.js-file {
    height: 50px;
    position: relative;
    top: 15px;
}

.folder-path {
    margin: -50px 0 0;;
}

.folder-path-2 {
    margin: 0 0 0 50px;
}

.routes {
    margin: -20px 0 20px;
}

.yaml-path {
    margin: 0 0 0 142px;
}

.qr-api {
    position: absolute;
    left: 220px;
    bottom: 10px;
    height: 590px;
}
.post {
    position: absolute;
    left: 80px;
    top: 73px;
    height: 660px;
}
.get {
    position: absolute;
    left: 80px;
    top: 80px;
    height: 660px;
}
.yaml {
    position: absolute;
    left: 80px;
    top: 60px;
    height: 660px;
}
.deprecated-code {
    position: absolute;
    left: 80px;
    top: 245px;
    height: 480px;
}
.deprecated_doc {
    position: absolute;
    left: 30px;
    top: 270px;
    height: 290px;
}
.editor {
    position: absolute;
    left: 35px;
    top: 190px;
    height: 500px;
}
.server {
    position: absolute;
    left: 50px;
    top: 210px;
    height: 420px;
}
.client {
    position: absolute;
    left: 80px;
    top: 180px;
    height: 530px;
}
.about {
    margin: 0 0 0 40px;
}
.qr-text {
    position: absolute;
    right: 175px;
    top: 160px;
    z-index: 1;
}
.qr {
    position: absolute;
    right: 100px;
    top: 180px;
}
.github {
    position: absolute;
    top: 200px;
    left: 100px;
    height: 30px;
}
.bitbucket {
    position: absolute;
    top: 254px;
    left: 100px;
    height: 26px;
}
.telegram {
    position: absolute;
    top: 252px;
    left: 100px;
    height: 35px;
}
.mail {
    position: absolute;
    top: 208px;
    left: 100px;
    height: 23px;
}
.vk {
    position: absolute;
    top: 305px;
    left: 102px;
    height: 26px;
}
.fb {
    position: absolute;
    top: 355px;
    left: 102px;
    height: 26px;
}

.slide.code pre {
    font-size: 20px;
}

.slide.code.big pre {
    margin: -97px 0 0;
}

.slide.code.small pre {
    margin: 10px 0 0;
}

.slide.code pre code {
    line-height: 30px;
}

.slide.code pre code.annotate {
    color: #999;
}