.slide {
    background: url("../pictures/hlj_1440_.png") no-repeat left bottom #fff;
    background-size: 1024px;
    padding: 20px 77px 0;
}
.slide::after {
    right: 0;
    width: 50px;
    color: red;
    background: none;
    padding: 0;
}
.cover::after {
    visibility: hidden;
}
.head {
    background-image: url("../pictures/hlj_1440.png");
    background-size: 1140px;
    background-position: -115px 0px;
}
.head h2 {
    color: #000;
    font-size: 70px;
}
.head h2.title1 {
    margin: 30px 0 0 60px;
}
.head h2.title2 {
    margin: 20px 0 0 130px;
}
.cover-swagger-logo {
    margin: 20px 22%;
    width: 100px;
    height: 100px;
}
.head p {
    color: #000;
    left: 30px;
    position: absolute;
    font-size: 20px;
    bottom: 30px;
    text-align: right;
    font-style: italic;
}
.cover-ideco-logo {
    position: absolute;
    left: 27px;
    bottom: 20px;
}

.fullstack {
    width: 100%;
}

.bad-api {
    height: 100%;
    top: 44% !important;
}

.api-blackbox {
    position: absolute;
    bottom: 30px;
    height: 540px;
    left: 245px;
}

.rest {
    width: 100%;
}

.method {
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 700;
}
.method-post {
    background: #10a54a;
    margin: 0 0 0 8px;
}
.method-get {
    background: #0f6ab4;
    color: #fff;
    margin: 0 0 0 23px;
}
.method-put {
    background: #c5862b;
}
.method-patch {
    background: #d38042;
}
.method-delete {
    background: #a41e22;
    color: #fff;
    margin: 0 0 0 5px;
}
.li-patch {
    padding: 0 0 0 82px;
}
.slide ul>li.li-patch::before {
    content: '';
}

.bike {
    height: 100%;
}

.services .services {
    position: absolute;
    left: -60px;
    top: 0px;
}
.services .swagger {
    position: absolute;
    top: 270px;
    left: 455px;
    width: 130px;
}
.services .apiary {
    position: absolute;
    top: 200px;
    left: 540px;
    height: 80px;
}
.services .apiblueprint {
    position: absolute;
    top: 90px;
    left: 650px;
    height: 90px;
}
.services .raml {
    position: absolute;
    top: 113px;
    left: 130px;
    height: 60px;
}
.services .apidoc {
    position: absolute;
    top: 310px;
    left: 320px;
    height: 110px;
}
.services .apigee {
    position: absolute;
    top: 100px;
    left: 390px;
    height: 100px;
}
.services .apigen {
    position: absolute;
    top: 220px;
    left: 200px;
    height: 70px;
}
.services .apimatic {
    position: absolute;
    top: 322px;
    left: 130px;
    height: 110px;
}
.services .mashape {
    position: absolute;
    top: 440px;
    left: 520px;
    height: 100px;
}
.services .mrdoc {
    position: absolute;
    top: 430px;
    left: 250px;
    height: 210px;
}
.services .phpdocumenter {
    position: absolute;
    top: 220px;
    left: 850px;
    height: 180px;
}
.services .turnapi {
    position: absolute;
    top: 320px;
    left: 580px;
    height: 90px;
}

.vendors-blueprint__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0;
}

.vendors-blueprint .apiary {
    height: 70px;
}

.vendors-raml__container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0;
}
.vendors-raml .akana {
    height: 40px;
}
.vendors-raml .amazone {
    height: 70px;
}
.vendors-raml .apifortress {
    height: 70px;
}
.vendors-raml .apimatic {
    height: 50px;
}
.vendors-raml .apimetrics {
    height: 50px;
}
.vendors-raml .apiscience {
    height: 50px;
}
.vendors-raml .catechnologies {
    height: 50px;
}
.vendors-raml .gelato {
    height: 60px;
}
.vendors-raml .mulesoft {
    height: 60px;
}
.vendors-raml .oracle {
    height: 50px;
}
.vendors-raml .parasoft {
    height: 30px;
}
.vendors-raml .postman {
    height: 70px;
}
.vendors-raml .restlet {
    height: 60px;
}
.vendors-raml .restunited {
    height: 50px;
}
.vendors-raml .softwareag {
    height: 40px;
}
.openAPI {
    position: absolute;
    left: 460px;
    top: 100px;
    height: 70px;
}
.vendors-swagger__container {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.vendors-swagger .redhat {
    height: 90px;
}
.vendors-swagger .adobe {
    height: 70px;
}
.vendors-swagger .evangelist {
    height: 18px;
}
.vendors-swagger .apiary {
    height: 90px;
}
.vendors-swagger .atlassian {
    height: 100px;
}
.vendors-swagger .ca {
    height: 70px;
}
.vendors-swagger .capital {
    height: 100px;
}
.vendors-swagger .cloud {
    height: 100px;
}
.vendors-swagger .google {
    height: 80px;
}
.vendors-swagger .heart {
    height: 50px;
}
.vendors-swagger .ibm {
    height: 70px;
}
.vendors-swagger .isa {
    height: 80px;
}
.vendors-swagger .mashape {
    height: 120px;
}
.vendors-swagger .microsoft {
    height: 120px;
}
.vendors-swagger .paypal {
    height: 60px;
}
.vendors-swagger .restlet {
    height: 80px;
}
.vendors-swagger .artik {
    height: 120px;
}
.vendors-swagger .smartbear {
    height: 120px;
}
.vendors-swagger .tykio {
    height: 100px;
}

.shout.openapi {
    width: 70%;
    position: absolute;
    left: 15%;
}

.oscar {
    width: 100%;
}

.shout.award {
    width: 80%;
    position: absolute;
    left: 10%;
}

.label {
    padding: 0 5px;
    border-radius: 5px;
}

.green-label {
    background: #9ac526;
}

.pupure-label {
    background: #2C1B56;
    color: #fff;
}

.realaze {
    position: absolute;
    left: 215px;
}
.specification {
    position: absolute;
    right: 250px;
}
.top-down {
    position: absolute;
    left: 90px;
    top: 210px;
    height: 500px;
}

.languages {
    padding: 0 10px;
}

.swag {
    height: 100%
}
.swagger-full {
    background: #87be40;
}
.slide.black {
    background-image: none;
}
.ideco-bg {
    background: #ecba37;
}
.ideco-bg-logo {
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}
.ideco-bg-logo img {
    width: 230px;
    height: 230px;
}
.ideco-bg-product {
    margin: 30px 0 0;
    display: flex;
    justify-content: space-between;
}
.ideco-bg-product img {
    width: 220px;
    height: 220px;
}
.slide .swagger-hi {
    width: 70%;
    position: absolute;
    left: 15%;
}

.swagger-ui2 {
    position: absolute;
    left: 61px;
    top: 90px;
    height: 480px;
}
.swagger-ui2-h {
    position: absolute;
    top: 20px;
    left: 288px;
}
.swagger-ui3-h {
    position: absolute;
    top: 20px;
    left: 400px;
}
.swagger-ui3 {
    position: absolute;
    left: 61px;
    top: 90px;
    height: 641px;
}
.top-down-release {
    display: block;
    width: 370px;
    margin: 0 auto;
}
.realaze-top-down,
.specification-top-down{
    font-size: 35px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    color: #585a5e;
    font: 700 35px/1 PT Sans Narrow,sans-serif;
}

.api {
    top: 60px;
    position: relative;
    height: 330px;
}

.folder {
    height: 50px;
    position: relative;
    top: 15px;
}

.js-file {
    height: 50px;
    position: relative;
    top: 15px;
}

.folder-path {
    margin: -50px 0 0;;
}

.folder-path-2 {
    margin: 0 0 0 50px;
}

.folder-path-up {
    margin: -30px 0 0;;
}

.routes {
    margin: -20px 0 20px;
}

.yaml-path {
    margin: 0 0 0 142px;
}

.post {
    position: absolute;
    left: 80px;
    top: 30px;
    height: 580px;
}
.get {
    position: absolute;
    left: 80px;
    top: 30px;
    height: 580px;
}
.yaml {
    position: absolute;
    left: 80px;
    top: 30px;
    height: 580px;
}
.deprecated-code {
    position: absolute;
    left: 80px;
    top: 220px;
    height: 390px;
}
.deprecated_doc {
    position: absolute;
    left: 80px;
    top: 270px;
    height: 260px;
}
.editor {
    position: absolute;
    left: 80px;
    top: 180px;
    height: 420px;
}
.server {
    position: absolute;
    left: 70px;
    top: 140px;
    height: 380px;
}
.client {
    position: absolute;
    left: 80px;
    top: 90px;
    height: 520px;
}
.about {
    margin: 0 0 0 40px;
}

.leonid {
    width: 90%;
}

.qr-text {
    position: absolute;
    right: 220px;
    top: 100px;
    z-index: 1;
}
.qr {
    position: absolute;
    right: 145px;
    top: 130px;
}
.github {
    position: absolute;
    top: 200px;
    left: 100px;
    height: 30px;
}
.bitbucket {
    position: absolute;
    top: 254px;
    left: 100px;
    height: 26px;
}
.telegram {
    position: absolute;
    top: 164px;
    left: 70px;
    height: 35px;
}
.mail {
    position: absolute;
    top: 122px;
    left: 70px;
    height: 23px;
}
.vk {
    position: absolute;
    top: 220px;
    left: 74px;
    height: 26px;
}
.fb {
    position: absolute;
    top: 270px;
    left: 75px;
    height: 26px;
}

.slide.code pre {
    font-size: 20px;
}

.slide.code.big pre {
    margin: 0;
}

.slide.code.small pre {
    margin: 10px 0 0;
}

.slide.code pre code {
    line-height: 25px;
}

.slide.code pre code.annotate {
    color: #999;
}